.hidden { display: none; }
.locked { opacity: 0.5; filter: grayscale(1); pointer-events: none; }
button:active { transform: scale(0.95); }
#view-classes div:hover { transform: translateY(-5px); transition: 0.3s; }
